<%- include('partials/header') %>


<nav class="navbar fixed-top navbar-inverse bg-primary">
  <div class="container">
  <img class="small" src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/home-icon.png" class="img-responsive" alt="Responsive image">
  <a class="navbar-brand navbar-right" href="/dashboard">Dashboard</a>
  <a class="navbar-brand navbar-right" href="/">Home</a>
  <a class="nav-menu"><i class="fa fa-bars"></i></a>
</div>
</nav>
<div class="home">
  <div>Awesome Tweets</div>
</div>


<%- include('partials/footer') %>
